<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Novo Usuário</title>
</head>
<body>
  <h1>Registre-se</h1>
  <form action="" method="post">
    <input type="text" name="name" placeholder="user name">
    <input type="text" name="email" placeholder="user email">
    <input type="text" name="githubUsername" placeholder="github username">
    <input type="text" name="value" placeholder="valor/hora">
    <input type="password" name="password" placeholder="senha">
    <button type="submit">Registrar</button>
  </form>
</body>
</html>